.splash_main{
    width:100%;
    height:100%;
    background-color: var(--primary-60-base);
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash_main img {
    aspect-ratio: 1/1;
    object-fit: contain;
}