.title{
    color: var(--primary-60-base);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-top: 100px;
}


.react-multi-carousel-dot--active button{
    width: 24px !important;
    height: 8px !important;
    background: #405CBD !important;
    border-color:transparent !important;
    border-radius: 6px !important;
    transform: translateY(-2px);
    
}

.react-multi-carousel-dot button{
    width: 8px;
    height: 8px;
    background: #BFC9E9;
    border-color:transparent !important;
    border-radius:50%;
   
}

.react-multi-carousel-dot-list{
    top: 280px;
}


.slider {
    margin:0 20px;
    overflow:"hidden";
    padding:2rem 0;
}
  
.slider img {
    width: 100%;
    border-radius:10px;
}
  
.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}
  
.custom-dot-list-style button{
  border: none;
  background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background: rgb(255, 68, 68) !important;
}



